html, body{
	width: 100%;
	height: 100%;
	margin:0;
}

#top{
	height:150px;
	width:100%;
	background-color:#3b3b3b;
}
#left{
	height:100%;
	width:150px;
	background-color: #dddddd;
	float:left;
}
#right{
	height:100%;
	width:150px;
	background-color: #dddddd;
	float:right;
	
}
#bottom{
	height:150px;
	width:100%;
	background-color: #3b3b3b;
	margin:72.5% 0 0 0;

}